body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.main {
    margin: 0px;
    padding: 0px;
}
/*********Header Start**************/
.header {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
    background: #0b073a;
   position: fixed;
}
.container {
    margin: 0px auto;
    width: 1170px;
}
.logo {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 30%;
}
.logo h1 {
    color: #fff;
    font-size: 35px;
    font-family: system-ui;
}

.logo h1 b {
    text-decoration: none;
    color: #ff8f06;
} 


.nav {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 70%;
}
.nav ul {
    margin: 5px 0px 0px 11pc;
    padding: 2px;
}
.nav ul li {
    margin:  36px 44px 8px 52px;
    padding: 0px;
    display: inline-block;
}


.nav ul li a {
    margin: 0px;
    padding: 3px 5px;
    text-decoration: none;
    font-size: 15px;
    font-family: system-ui;
    color: #ffff;
    transition: 0.2s;
}
.nav ul li a:hover{
    outline: 2px solid #e7823e;
    font-weight: 700;
}
/********Header Close**************/

/**************slider3 start********************/

.slider3{
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
    background-color: #000;
}

.form {
    margin: 1pc 17pc 0px 38px;
    padding: 22px 56px 32px 37px;
    background: url(form\ image.jfif) no-repeat;
    float: left;
    background-size: 100% 100%;
}

.form h1 {
    color: #fff;
    font-family: sans-serif;
    font-weight: 400;
}
    .form form {
        width: 100%;
        float: left;
    }
    

.form label {
    color: #fff;
    font-size: 20px;
    line-height: 41px;
    word-spacing: 4px;
    font-family: sans-serif;
}

.form input {
    color: #000;
    word-spacing: 1px;
    line-height: 18px;
}

.form button {
    background: #ff8f06;
    font-size: 14px;
    font-weight: 500;}

    .photo {
        margin: 30px 0px 0px 0px ;
        padding: 0px;
        float: left;
        position: inherit;
    }
    
    .photo img {
        width: 85%;
        margin: 82px 12pc 8px 17px;
    }

/**************slider3 close********************/

/************footer start***********/
.footer{
    margin: 0px;
    padding: 0px;
    width: 100%;
    float: left;
    background: #242626;
}
.footnav1{
    width: 24%;
    margin: 55px 0px 0px 0px ;
    padding: 0px;
    float: left;
}

ul{
    margin: 0px;
    padding: 0px;
}
li{
    margin: 0px ;
    padding: 0px;
}

.footnav1 ul li a{
    color: #aba8b8;
    font-family: system-ui;
    margin: 0px;
    line-height: 30px;
    text-decoration: none;
}

.footnav1 ul li a:hover{
    color: #0b073a;
}

.footnav2{
    width: 24%;
    margin: 55px 0px 0px 0px ;
    padding: 0px;
    float: left;
}

.footnav2 ul li a{
    color: #aba8b8;
    font-family: system-ui;
    margin: 0px;
    line-height: 30px;
    text-decoration: none;
}

.footnav2 ul li a:hover{
    color: #0b073a;
}


.footnav3{
    width: 24%;
    margin: 55px 0px 0px 0px ;
    padding: 0px;
    float: left;
}

.footnav3 ul li a{
    color: #aba8b8;
    font-family: system-ui;
    margin: 0px;
    line-height: 30px;
    text-decoration: none;
}

.footnav3 ul li a:hover{
    color: #0b073a;
}


.but{
    margin: 55px 0px 0px 0px ;
    padding: 0px ;
    width: 25%;
    float: left;
}
.but h1{
    color: #fff;
    font-size: 24px;
    font-family: system-ui;
    font-weight: 400;
}
.but a{
    outline: 2px solid #fff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    transition: 1.2s;
    cursor:pointer;
}

.but a:hover{
    background-color:chocolate;
    color: cornsilk;
}
/************footer close***********/